/* ACROSS-APP */
a {
  text-decoration: none;
  color: black;
}

.links {
  color: #003366;
  font-weight: bold;
}

.photo {
  height: 40vmin;
  border-radius: 20px;
}

.title-menu ~ div:hover, .title-menu ~ div > a:hover, .project-title {
  font-size: 5vmin;
  color: #003366;
}

.section, .about > div, .interests > div {
  font-size: 2.5vmin;
  margin: 10px 0px;
}

/* CONTAINERS */
.main-container {
  display: flex;
  margin: 50px;
}

.sub-container {
  display: flex;
}

.detail-container {
  flex-direction: column;
  margin: 0px 50px;
}

/* MENU */
.menu-container {
  min-width: 40vmin;
}

.title-menu {
  font-size: 5vmin;
}

.title-menu ~ div {
  font-size: 4vmin;
}

/* PROJECTS */
.project-container > div {
  margin: 0px 0px 50px 0px;
  border-radius: 10px;
}

.project-title {
  font-weight: bold;
}

.project-note {
  padding: 10px opx;
  font-style: oblique;
  font-size: 2vmin;
}

.video-container {
  padding: 20px;
}

.subtitle {
  font-size: 3vmin;
  margin: 10px 0px;
  font-weight: bold;
}

/* ABOUT */
.about > div:nth-child(1), .about > div:nth-child(2) {
  font-size: 3.5vmin;
}

.about-skills > div {
  margin: 10px 0px;
}

/* MODAL */
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
